.modal-footer {   border-top: 0px; }

body {
    font-family: "Microsoft JhengHei UI Light";
}

.login-container {
    overflow: hidden;
}

#back-img {
    position: absolute;
    max-height: 1200px ;
    max-width: 1000px;
}
.register-text {
    padding-top: 7px;
}

#activate-mail {
    padding-left: 55px;
}
